// Core variables and mixins
@import "platform_icons.less";
@import "elements.less";
@import "seg_mixins.less";

body {}

table td.cell-center {
  text-align:center;
}

@media screen {
  .only-print {
    display:none;
  }
}

@media print {
  .only-screen {
    display:none;
  }
  .hero-unit {
    display:none;
  }
  #navigation {
    display:none;
  }
}

/* hero-unit */

.hero-unit2 {
  .border-radius(0, 5px, 5px, 0);
  position: relative;
  background:#000 url('../img/main_banner.jpg') no-repeat right;
  margin:0px;
  padding:0px;
  color:#fff;
  text-align:left;
  height:315px;
  border-width:0px;
  .inner-shadow(0,0px,22px,1);
  .text-unit {
    position:absolute;
    bottom:0px;
    margin:0px;
    padding:6px 0px 6px 0px;
    width:100%;
    .bg_gradient(rgba(44, 62, 80, 1),rgba(44, 62, 80, .2));
    .border-radius(0, 5px, 5px, 0);
    h1 {
      padding:0px 0px 0px 10px;
      margin:0px;
      text-shadow: 0 0 20px #000;
    }
    p.lead {
      text-shadow: 1px 1px 5px #000;
      padding:4px 0px 0px 10px;
      margin:0px;
      color:lighten(color("#1abc9c"),50%);
    }
  }
}

/* overview */
#overview {
  li {
    font-size:13pt;
    padding-bottom:6px;
  }
}

/* navigation */
#navigation {
  padding-top:57px;
  margin-top:0px;
}

/* introduction */

#introduction {
  text-align:center;
  blockquote {
    text-align:left;
  }
  .featured-icon {
    font-size:60pt;
  }
  .featured-icon-small {
    font-size:43pt;
  }
}

/* skills */
#skills {
  .list_col {
    .columns(100px,3,20px);
    margin-top:2px;
    margin-bottom:2px;
  }
  ul li{
    .column-break-inside(avoid);
  }
}

/* #positions */
#positions {
  .positionInfo {
    .company{
      
    }
    .dates{
      font-size:9pt;
      float:right;
    }
  }
}

