---
layout: default
title: John "Seg" Seggerson
---
  {% include content/navigation.html %}
  
<div class="container">

<section id="introduction">
	{% include content/introduction.html %}
</section>

<section id="overview">
  <div class="page-header">
    <h1>Overview</h1>
  </div>
{% include content/contact.html %}
</section>

<!-- Skills
================================================== -->
<section id="skills">
  <div class="page-header">
    <h1>Skills</h1>
  </div>
  
  {% include content/skills.html %}
</section>

<!-- Positions
================================================== -->
<section id="positions">
  <div class="page-header">
    <h1>Project Positions</h1>
  </div>
  
  {% include content/positions.html %}
</section>


<!-- Released Titles
================================================== -->
<section id="releasedtitles">
  <div class="page-header">
    <h1>Projects &amp; Roles</h1>
  </div>
  <p><a class="btn btn-primary btn-block" href="{{site.baseurl}}/projects">Complete List of Projects &amp; Roles</a></p>
</section>


<!-- Speaking Engagements
================================================== -->
<section id="speaking">
  <div class="page-header">
    <h1>Recent Speaking Engagements</h1>
  </div>
  {% include content/speaking.html %}
</section>


<!-- Share Tools
================================================== -->
<section id="share" class="hidden-print">
	<div class="page-header">
		<h1>Share</h1>
	</div>
  {% include content/share.html %}
  
</section>

<br><br><br><br>
