---
layout: default
title: John "Seg" Seggerson
---
  {% include content/navigation.html %}
  
<div class="container">

<section id="introduction">
	<div class="row">
		<div class="introduction-header-text col-sm-10 col-sm-offset-1">
			Seg's experience brings you the opportunity to create interactive narratives that engage the audience in rich, meaningful experiences, and expand the potential of your team in a respectful and rewarding environment.
		</div>
	</div>
	<div class="row">
		<div class="introduction-block col-xs-6 col-sm-4 col-sm-offset-2">
			<h2>Designer</h2>
			<span class="icon-stack">
				<i class="icon-circle icon-stack-base"></i>
				<i class="icon-puzzle-piece icon-light"></i>
			</span>
		</div>
		<div class="introduction-block col-xs-6 col-sm-4">
			<h2>Programmer</h2>
			<span class="icon-stack">
				<i class="icon-circle icon-stack-base"></i>
				<i class="icon-code icon-light"></i>
			</span>
		</div>
	</div>
</section>

<section id="overview">
  <div class="page-header">
    <h1>Overview</h1>
  </div>
{% include content/contact.html %}
</section>

<!-- Skills
================================================== -->
<section id="skills">
  <div class="page-header">
    <h1>Skills</h1>
  </div>
  
  {% include content/skills.html %}
</section>

<!-- Recommendations
================================================== -->
<section id="recommendations">
	<div class="page-header">
		<h1>Recommendations</h1>
	</div>
	
	{% include content/recommendations.html %}

</section>

<!-- Positions
================================================== -->
<section id="positions">
  <div class="page-header">
    <h1>Project Positions</h1>
  </div>
  
  {% include content/positions.html %}
</section>


<!-- Released Titles
================================================== -->
<section id="releasedtitles">
  <div class="page-header">
    <h1>Projects &amp; Roles</h1>
  </div>
  {% include content/titles.html %}
</section>

<!-- Share Tools
================================================== -->
<section id="share" class="only-screen">
  
  {% include content/share.html %}
  
</section>

<br><br><br><br>
