/*
  
  Seg's Resume
  http://theseg.github.io/
  
*/

// Core variables and mixins
@import "platform_icons.less";
@import "elements.less";
@import "seg_mixins.less";

body{
}
footer {
  margin-bottom: 20px;
  .links {
    margin-bottom:20px;
    a {
      margin-right:10px;
    }
  }
}

section {
  page-break-before:always;
}
table {
  page-break-inside:auto;
  tr {
    page-break-inside:avoid; page-break-after:auto;
  }
  td.cell-center {
    text-align:center;
  }
  thead {
    display:table-header-group;
  }
  tfoot {
    display:table-footer-group;
  }
}

@media screen {
  .only-print {
    display:none;
  }
}

@media print {
  .only-screen {
    display:none;
  }
  .hero-unit,.hero-unit2 {
    display:none;
  }
  #navigation {
    display:none;
  }
  abbr[title]:after {
    content: "";
    border-bottom:0px none #fff;
  }
}

/* Top Header */
.navbar-brand {
  font-weight:bold;
  text-shadow:2px 2px 2px #000;
}

/* hero-unit */

.jumbotron {
  position: relative;
  background:#000 url('../img/main_banner.jpg') no-repeat right;
  background-size:cover;
  margin:0;
  padding-left:0 !important;
  padding-right:0 !important;
  color:#fff;
  text-align:left;
  height:315px;
  border-width:0px;
  .inner-shadow(0,0,22px,1);
  .border-radius(0);
  .text-unit {
    position:absolute;
    bottom:0;
    margin:0;
    padding:6px 0 6px 10px;
    width:100%;
    .bg_gradient( @navbar-default-bg , fade( @navbar-default-bg , 30% ) );
    @media (max-width: 768px) {
      padding:6px 0 6px 0;
      .bg_gradient( @navbar-default-bg , fade( @navbar-default-bg , 90% ) );
    }
    h1 {
      padding:0 0 0 0;
      margin:0;
      text-shadow: 2px 2px 5px #000;
    }
    p.lead {
      text-shadow: 2px 2px 5px #000;
      padding:4px 0 0 0;
      margin:0;
      color:contrast( @navbar-default-bg , #000 , #ccc );
    }
  }
}

/* overview */
#overview {
  @overview-font-size:12pt;
  @overview-icon-size:12pt;
  li, a {
    font-size:@overview-font-size;
  }
  span {
    text-align:center;
    font-size:@overview-icon-size;
    width:@overview-icon-size;
  }
}

/* navigation */
#navigation {
  padding-top:0;
  margin-top:0;
  text-shadow:1pt 1pt 1pt #000;
  .navbar {
    .border-top-radius(0);
  }
  li.pdf {
    color:@btn-warning-color;
    a {
      color:@btn-warning-color;
    }
  }
}

/* introduction */

#introduction {
  text-align:center;
  margin-top:0px;
  &.addPadding {
    margin-top:120px;
  }
  blockquote {
    text-align:left;
    small {
      color:lighten(greyscale(@text-color),25%);
    }
  }
  .featured-icon {
    font-size:60pt;
  }
  .featured-icon-small {
    font-size:43pt;
  }
}

/* skills */
#skills {
  .list_col {
    .columns(140px,3,20px,#ccc);
    margin-top:2px;
    margin-bottom:2px;
    li {
      list-style-type:none;
      .column-break-inside(avoid);
      li {
        list-style-type:circle;
      }
    }
  }
}

/* #positions */
#positions {
  .panel {
    border-width:0;
    .box-shadow(0 0 0 rgba(255,255,255,0));
    .panel-heading {
      border-width:inherit;
      .box-shadow(0 1px 1px rgba(0,0,0,.05));
      border-radius: @panel-border-radius;
    }
  }
  .positionInfo {
    margin:0;
    .company{
      font-weight:bold;
    }
    .dates{
      font-size:9pt;
    }
  }
}

/* #share-footer */
#share-footer {
  text-align:center;
  li {
    margin:0 10px;
    min-height:30px;
  }
}