<div class="platform-notes-cell text-center">
    <ul class="platform-notes-group list-inline">
        <li>
            <i class="platform-icon platform-win {% if include.win == 0 %}platform-not{% endif %}{% if include.win == 2 %}platform-unreleased{% endif%}"></i>
        </li>
        <li>
            <i class="platform-icon platform-mac {% if include.mac == 0 %}platform-not{% endif %}{% if include.mac == 2 %}platform-unreleased{% endif%}"></i>
        </li>
        <li>
            <i class="platform-icon platform-steam {%if include.steam == 0 %}platform-not{% endif %}{% if include.steam == 2 %}platform-unreleased{% endif%}"></i>
        </li>
    </ul>
    <ul class="platform-notes-group list-inline">
        <li>
            <i class="platform-icon platform-xbox360 {%if include.xbox360 == 0 %}platform-not{% endif %}{% if include.xbox360 == 2 %}platform-unreleased{% endif%}"></i>
        </li>
        <li>
            <i class="platform-icon platform-ps3 {%if include.ps3 == 0 %}platform-not{% endif %}{% if include.ps3 == 2 %}platform-unreleased{% endif%}"></i>
        </li>
        <li>
            <i class="platform-icon platform-wii {%if include.wii == 0 %}platform-not{% endif %}{% if include.wii == 2 %}platform-unreleased{% endif%}"></i>
        </li>
        <li>
            <i class="platform-icon platform-ios {%if include.ios == 0 %}platform-not{% endif %}{% if include.ios == 2 %}platform-unreleased{% endif%}"></i>
        </li>
    </ul>
</div>
