<!-- Contact
================================================== -->
  <div class="row">

    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Contact Info</h3>
        </div>
        <div class="list-group">
          <script type="text/javascript">
          //<![CDATA[
          <!--
          var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
          "=126){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return " +
          "o.substr(0,ol);}f(\")99,\\\"U]WBH700\\\\4520\\\\:[500\\\\L^A@771\\\\~}|{zyx" +
          "9n\\\\'010\\\\>=2~.'))&$&/\\\"\\\\5500\\\\#&1a`730\\\\630\\\\530\\\\430\\\\" +
          "330\\\\230\\\\130\\\\030\\\\720\\\\620\\\\[hAn710\\\\^N^^300\\\\720\\\\n\\\\"+
          "t\\\\010\\\\700\\\\600\\\\500\\\\400\\\\300\\\\200\\\\100\\\\000\\\\?pAnG$p" +
          "7+(7H|?t``bhzeo$ia&db!^<sr\\\\430\\\\020\\\\030\\\\Z020\\\\DWVUTSRQPONMLKJ7" +
          "00\\\\4520\\\\:[F?710\\\\400\\\\420\\\\6s3383t?2%w010\\\\n!\\\"\\\\1#-m\\\"" +
          "\\\\*::tgfedcba`730\\\\630\\\\530\\\\430\\\\UfKdt\\\\420\\\\iYVFX530\\\\_[B" +
          "^L700\\\\\\\\\\\\UMN200\\\\B!ikwxq0,P+ocW22X630\\\\220\\\\620\\\\!N500\\\\4" +
          "10\\\\010\\\\100\\\\310\\\\220\\\\620\\\\\\\\\\\\410\\\\0>u8>16<!\\\"\\\\,," +
          "4500\\\\$$L700\\\\TM[\\\\\\\\R\\\\\\\\r\\\\q620\\\\OBWK100\\\\~!;97531/-+)%" +
          "-mm330\\\\010\\\\320\\\\n\\\\100\\\\Z600\\\\630\\\\310\\\\100\\\\730\\\\310" +
          "\\\\t\\\\000\\\\\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirt" +
          "S=+o;721=%y;++y)99<i(fi{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f" +
          " noitcnuf\")"                                                                ;
          while(x=eval(x));
          //-->
          //]]>
          </script>
          <noscript>
            <div class="list-group-item">
              <span class="seg-icon-item">
                <i class="fa fa-envelope-alt"></i>
              </span>
              Enable JavaScript for E-mail address.
            </div>
          </noscript>
          <a href="tel:4157421734" class="list-group-item">
            <span class="seg-icon-item">
              <i class="fa fa-phone"></i>
            </span>
            (415) 742-1SEG
          </a>
          <a href="https://plus.google.com/113283982336373378707?rel=author" target="_blank" class="list-group-item">
            <span class="seg-icon-item">
              <i class="fa fa-google-plus-square"></i>
            </span>
            Google+
          </a>
          <a href="https://www.facebook.com/TheSeg" target="_blank" class="list-group-item">
            <span class="seg-icon-item">
              <i class="fa fa-facebook-square"></i>
            </span>
            Facebook
          </a>
          <a href="https://twitter.com/TheSeg" target="_blank" class="list-group-item">
            <span class="seg-icon-item">
              <i class="fa fa-twitter-square"></i>
            </span>
            @TheSeg
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Profiles</h3>
        </div>
        <div class="list-group">
          {% if page.layout == "valve" %}
          <a href="https://steamcommunity.com/id/theseg/" target="_blank" class="list-group-item">
            <span class="seg-icon-item">
              <i class="fa fa-user"></i>
            </span>
            Steam Community Profile
          </a>
          {% endif %}
          <a href="https://www.linkedin.com/in/johnseggerson/" target="_blank" class="list-group-item">
            <span class="seg-icon-item">
              <i class="fa fa-linkedin"></i>
            </span>
            LinkedIn Profile
          </a>
          <a href="https://github.com/TheSeg" target="_blank" class="list-group-item">
            <span class="seg-icon-item">
              <i class="fa fa-github"></i>
            </span>
            GitHub: TheSeg
          </a>
          <a href="https://www.mobygames.com/developer/sheet/view/developerId,290531/" target="_blank" class="list-group-item">
            <span class="seg-icon-item">
              <i class="fa fa-gamepad"></i>
            </span>
            MobyGames Developer Profile
          </a>
          <a href="http://www.imdb.com/name/nm2980406/" target="_blank" class="list-group-item">
            <span class="seg-icon-item">
              <i class="fa fa-film"></i>
            </span>
            <acronym title="Internet Movie Database">IMDb</acronym>
          </a>
          <a href="https://segonmedia.com" target="_blank" class="list-group-item">
            <span class="seg-icon-item">
              <i class="fa fa-rss"></i>
            </span>
            Seg On Media (Blog)
          </a>
        </div>
      </div>
    </div>

  </div>
