<!-- Contact
================================================== -->
  <div class="row">

    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Statistics</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <span class="seg-icon-item">
              <i class="icon-calendar"></i>
            </span>
            6+ Years in Game Development
          </li>
          <li class="list-group-item">
            <span class="seg-icon-item">
              <i class="icon-download-alt"></i>
            </span>
            64 Individual Releases
          </li>
          <li class="list-group-item">
            <span class="seg-icon-item">
              <i class="icon-desktop"></i>
            </span>
            11 Platforms
          </li>
          <li class="list-group-item">
            <span class="seg-icon-item">
              <i class="icon-shield"></i>
            </span>
            16 Seasons
          </li>
          <li class="list-group-item">
            <span class="seg-icon-item">
              <i class="icon-certificate"></i>
            </span>
            11 Franchises
          </li>
          <li class="list-group-item">
            <span class="seg-icon-item">
              <i class="icon-book"></i>
            </span>
            New Media, <abbr title="Bachelor of Fine Arts">BFA</abbr> @ Emerson College
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Websites</h3>
        </div>
        <div class="list-group">
          {% if page.layout == "valve" %}
          <a href="http://steamcommunity.com/id/atrus/" target="_blank" class="list-group-item">
            <span class="seg-icon-item">
              <i class="icon-user"></i>
            </span>
            Steam Community Profile
          </a>
          {% endif %}
          <a href="http://www.linkedin.com/in/johnseggerson/" target="_blank" class="list-group-item">
            <span class="seg-icon-item">
              <i class="icon-linkedin"></i>
            </span>
            LinkedIn Profile
          </a>
          <a href="http://www.mobygames.com/developer/sheet/view/developerId,290531/" target="_blank" class="list-group-item">
            <span class="seg-icon-item">
              <i class="icon-gamepad"></i>
            </span>
            MobyGames Developer Profile
          </a>
          <a href="http://www.imdb.com/name/nm2980406/" target="_blank" class="list-group-item">
            <span class="seg-icon-item">
              <i class="icon-film"></i>
            </span>
            <acronym title="Internet Movie Database">IMDb</acronym>
          </a>
          {% if page.layout != "valve" %}
          <a href="http://raptr.com/TheSeg/" target="_blank" class="list-group-item">
            <span class="seg-icon-item">
              <i class="icon-user"></i>
            </span>
            Raptr
          </a>
          {% endif %}
          <a href="http://segonmedia.com" target="_blank" class="list-group-item">
            <span class="seg-icon-item">
              <i class="icon-rss"></i>
            </span>
            Seg On Media (Blog)
          </a>
          <a href="http://github.com/TheSeg" target="_blank" class="list-group-item">
            <span class="seg-icon-item">
              <i class="icon-github"></i>
            </span>
            GitHub: TheSeg
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Contact Info</h3>
        </div>
        <div class="list-group">
			<script type="text/javascript">
			//<![CDATA[
			<!--
			var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
			"=49){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
			".substr(0,ol);}f(\")021,\\\".$(;3.n!1,+*)('&%$#l]r\\\"\\\\020\\\\320\\\\030" +
			"\\\\T030\\\\120\\\\320\\\\320\\\\030\\\\230\\\\430\\\\520\\\\420\\\\300\\\\" +
			"O230\\\\410\\\\L410\\\\710\\\\230\\\\HGFEDCBA@771\\\\~}2700\\\\(500\\\\f97%" +
			"'|nqponmlkjihgf+030\\\\1630\\\\771\\\\)020\\\\200\\\\300\\\\630\\\\g_IW[SCZ" +
			"V730\\\\__LG710\\\\p620\\\\YZIKE500\\\\M730\\\\200\\\\100\\\\000\\\\?>=<;:9" +
			"8765zO`M.-R`i771\\\\c$fhel)dgr\\\"\\\\\\\"\\\\@710\\\\010\\\\330\\\\520\\\\" +
			"330\\\\W030\\\\420\\\\400\\\\000\\\\NQPONMLKJIHGF310\\\\8120\\\\>_B300\\\\3" +
			"8(2w)-8$2y'!8<m220\\\\p?8+%+gd130\\\\e400\\\\700\\\\220\\\\`zu|h330\\\\100\\"+
			"\\M_120\\\\310\\\\AWVXSE\\\\\\\\120\\\\@CH400\\\\HACCHJLEDS_yxo!umt~wx6O/wu" +
			"}f-m7(!fkcqmqu/t020\\\\030\\\\120\\\\610\\\\130\\\\620\\\\430\\\\\\\"(f};o " +
			"nruter};))++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y{)++i;l<i;0=i(r" +
			"of;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"                           ;
			while(x=eval(x));
			//-->
			//]]>
			</script>
		  <noscript>
          <div class="list-group-item">
            <span class="seg-icon-item">
              <i class="icon-envelope-alt"></i>
            </span>
            Enable JavaScript for E-mail address.
          </div>
          </noscript>
          <a href="tel:4157421734" class="list-group-item">
            <span class="seg-icon-item">
              <i class="icon-phone"></i>
            </span>
            (415) 742-1SEG
          </a>
          <a href="https://plus.google.com/113283982336373378707?rel=author" target="_blank" class="list-group-item">
            <span class="seg-icon-item">
              <i class="icon-li icon-google-plus-sign"></i>
            </span>
            Google+
          </a>
          <a href="https://www.facebook.com/TheSeg" target="_blank" class="list-group-item">
            <span class="seg-icon-item">
              <i class="icon-li icon-facebook-sign"></i>
            </span>
            Facebook
          </a>
          <a href="https://twitter.com/TheSeg" target="_blank" class="list-group-item">
            <span class="seg-icon-item">
              <i class="icon-li icon-twitter-sign"></i>
            </span>
            @TheSeg
          </a>
          <a href="skype:johnseggerson?call" class="list-group-item">
            <span class="seg-icon-item">
              <i class="icon-li icon-skype"></i>
            </span>
            Skype: JohnSeggerson
          </a>
        </div>
      </div>
    </div>

  </div>
