<!-- Contact
================================================== -->
  <div class="row">

    <div class="col-md-4">
      <h3>Statistics</h3>
      <ul class="icons-ul">
        <li><i class="icon-li icon-calendar"></i>6+ Years in Game Development</li>
        <li><i class="icon-li icon-download-alt"></i>64 Individual Releases</li>
        <li><i class="icon-li icon-desktop"></i>11 Platforms</li>
        <li><i class="icon-li icon-shield"></i>16 Seasons</li>
        <li><i class="icon-li icon-certificate"></i>11 Franchises</li>
        <li><i class="icon-li icon-book"></i>New Media, <abbr title="Bachelor of Fine Arts">BFA</abbr> @ Emerson College</li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>Websites</h3>
      <ul class="icons-ul">
        {% if page.layout == "valve" %}
        <li><i class="icon-li icon-circle"></i> <a href="http://steamcommunity.com/id/atrus/">Steam: Atrus</a></li>
        {% endif %}
        <li><i class="icon-li icon-linkedin"></i><a href="http://www.linkedin.com/in/johnseggerson/" target="_blank">LinkedIn Profile</a></li>
        <li><i class="icon-li icon-gamepad"></i><a href="http://www.mobygames.com/developer/sheet/view/developerId,290531/">MobyGames Developer Profile</a></li>
        <li><i class="icon-li icon-film"></i><a href="http://www.imdb.com/name/nm2980406/"><acronym title="Internet Movie Database">IMDb</acronym></a></li>
        <li><i class="icon-li icon-rss"></i><a href="http://segonmedia.com" target="_blank">Seg On Media (Blog)</a></li>
        <li><i class="icon-li icon-github"></i><a href="http://github.com/TheSeg" target="_blank">GitHub: TheSeg</a></li>
      </ul>
    </div>
    
    <div class="col-md-4">
      <h3>Contact Info</h3>
      <ul class="icons-ul">
        <li><i class="icon-li icon-envelope-alt"></i><script type="text/javascript">
        var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
        "harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
        "\\\\,l=x.length;for(i=0;i<l;i++){if(i<69)y++;y%=127;o+=String.fromCharCode(" +
        "x.charCodeAt(i)^(y++));}return o;}f(\\\"\\\\\\\\\\\\\\\"\\\\')9#5< x/(5*\\\\"+
        "\\\\005\\\\\\\\016\\\\\\\\nNJV\\\\\\\\rN\\\\\\\\030\\\\\\\\000\\\\\\\\021\\" +
        "\\\\\\020E&^\\\\\\\\023`jisf1~jvSfr~tsrDGLF\\\\\\\\007HBB\\\\\\\\016@@US^^K" +
        "|}e\\\\\\\\023\\\\\\\\010\\\\\\\\000\\\\\\\\010o\\\\\\\\00345it\\\\\\\\ttw," +
        "0.79`\\\\\\\\002}<C\\\\\\\\\\\\\\\\&I\\\\\\\\010\\\\\\\\007\\\\\\\\016\\\\\\"+
        "\\004UE\\\\\\\\nROGT@J\\\"\\\\,69)\\\"(f};)lo,0(rtsbus.o nruter};)i(tArahc." +
        "x=+o{)--i;0=>i;1-l=i(rof}}{)e(hctac};l=+l;x=+x{yrt{)55=!)31/l(tAedoCrahc.x(" +
        "elihw;lo=l,htgnel.x=lo,\\\"\\\"=o,i rav{)x(f noitcnuf\")"                    ;
        while(x=eval(x));</script></li>
        <li><i class="icon-li icon-phone"></i>(415) 742-1SEG</li>
        <li><i class="icon-li icon-skype"></i><a href="skype://johnseggerson?chat">Skype</a></li>
        <li><i class="icon-li icon-google-plus-sign"></i><a href="https://plus.google.com/113283982336373378707?rel=author" target="_blank">Google+</a></li>
        <li><i class="icon-li icon-facebook-sign"></i><a href="https://www.facebook.com/TheSeg" target="_blank">Facebook</a></li>
        <li><i class="icon-li icon-twitter"></i><a href="https://twitter.com/TheSeg">@TheSeg</a></li>
      </ul>
    </div>

  </div>
