<div class="introduction-block row">
    <div class="visible-xs">
        <h2>Designer + Programmer</h2>
    </div>
	<div class="col-sm-3 col-xs-6 col-xs-push-12">
		<span class="icon-stack">
			<i class="icon-circle icon-stack-base"></i>
			<i class="icon-puzzle-piece icon-light"></i>
		</span>
	</div>
    <div class="col-sm-6 hidden-xs">
        <h2>Designer + Programmer</h2>
    </div>
	<div class="col-sm-3 col-xs-6">
		<span class="icon-stack">
			<i class="icon-circle icon-stack-base"></i>
			<i class="icon-code icon-light"></i>
		</span>
	</div>
</div>
<div class="row">
	<div class="introduction-header-text col-sm-10 col-sm-offset-1">
		Seg's experience brings you the opportunity to create interactive narratives that engage the audience in rich, meaningful experiences, and expand the potential of your team in a respectful and rewarding environment.
	</div>
</div>
