<div class="introduction-block row">
  <div class="visible-xs">
      <h2>Experience&nbsp;Designer +<br>Front&#8288;-&#8288;End Engineer</h2>
  </div>
	<div class="col-sm-3 col-xs-6">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></i>
		</span>
	</div>
  <div class="introduction-text col-sm-6 hidden-xs">
      <h2>Experience&nbsp;Designer &amp; Front&#8288;-&#8288;End&nbsp;Engineer</h2>
  </div>
	<div class="col-sm-3 col-xs-6">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-code fa-stack-1x fa-inverse"></i>
		</span>
	</div>
</div>
<div class="row">
	<div class="introduction-header-text col-sm-12">
    Creating interactive immersive experiences for digital and physical realms. Expand the potential of your work in a respectful and rewarding environment by adding John “Seg” Seggerson to your team.
	</div>
</div>
