<div class="introduction-set row">
	<div class="introduction-block col-sm-4 col-sm-offset-2">
		<h2>Designer</h2>
		<span class="icon-stack">
			<i class="icon-circle icon-stack-base"></i>
			<i class="icon-puzzle-piece icon-light"></i>
		</span>
	</div>
	<div class="introduction-block col-sm-4">
		<h2>Programmer</h2>
		<span class="icon-stack">
			<i class="icon-circle icon-stack-base"></i>
			<i class="icon-code icon-light"></i>
		</span>
	</div>
</div>
<div class="row">
	<div class="introduction-header-text col-sm-10 col-sm-offset-1">
		Seg's experience brings you the opportunity to create interactive narratives that engage the audience in rich, meaningful experiences, and expand the potential of your team in a respectful and rewarding environment.
	</div>
</div>
