
  <nav id="navigation">
  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header hidden-xs hidden-sm">
        <a class="navbar-brand toTop hidden-md" href="#top">John "Seg" Seggerson</a>
        <a class="navbar-brand toTop visible-md" href="#top">"Seg"</a>
      </div>
      <div id="scrollTarget" class="">
        <ul class="nav navbar-nav">
          <li><a href="#overview">Overview</a></li>
          <li><a href="#skills">Skills</a></li>
          <li>
            <a href="#positions">
              <span class="hidden-sm">Projects Positions</span>
              <span class="visible-sm">Positions</span>
            </a>
          </li>
          <li><a href="#share">Share</a></li>
          <li class="pdf btn-warning hidden-md hidden-lg">
              <a href="{{site.baseurl}}pdf/John_Seg_Seggerson.pdf"><i class="fa fa-file"></i> PDF</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
            <li class="pdf">
                <a href="{{site.baseurl}}pdf/John_Seg_Seggerson.pdf"><i class="fa fa-file-pdf-o"></i> PDF</a>
            </li>
            <li class="dropdown pdf pdf-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu pdf pdf-dropdown-menu">
                    <li role="presentation" class="dropdown-header">Other Formats</li>
                    <li class="focus"><a href="{{site.baseurl}}pdf/John_Seg_Seggerson.pdf"><i class="fa fa-file-pdf-o"></i> PDF</a></li>
                    <li><a href="{{site.baseurl}}pdf/John_Seg_Seggerson.txt"><i class="fa fa-file-text-o"></i> TEXT</a></li>
                </ul>
            </li>
        </ul>
      </div>
    </div>
  </div>
  </nav>
