
  <nav id="navigation">
  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header hidden-xs hidden-sm">
        <a class="navbar-brand toTop" href="#top">John "Seg" Seggerson</a>
      </div>
      <div id="scrollTarget" class="">
        <ul class="nav navbar-nav">
          <li><a href="#overview">Overview</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#recommendations">Recommendations</a></li>
          <li><a href="#positions">Project Positions</a></li>
          <li><a href="#releasedtitles">Projects &amp; Roles</a></li>
          <li><a href="#share">Share</a></li>
          <li class="pdf btn-warning hidden-md hidden-lg"><a href="{{site.baseurl}}pdf/John_Seg_Seggerson.pdf"><i class="icon-file"></i> PDF</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
            <li class="dropdown pdf btn-warning">
                <a href="{{site.baseurl}}pdf/John_Seg_Seggerson.pdf" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-file"></i> PRINT/FILE <b class="caret"></b></a>
                <ul class="dropdown-menu pdf-dropdown-menu btn-warning">
                    <li class="focus"><a href="{{site.baseurl}}pdf/John_Seg_Seggerson.pdf">PDF</a></li>
                    <li class="divider"></li>
                    <li><a href="{{site.baseurl}}pdf/John_Seg_Seggerson.docx">DOCX</a></li>
                    <li><a href="{{site.baseurl}}pdf/John_Seg_Seggerson.txt">TEXT</a></li>
                </ul>
            </li>
        </ul>
      </div>
    </div>
  </div>
  </nav>
