<h2>Web Development</h2>

<div class="row">

  <div class="col-md-6">
    <h3>Senior Web Developer</h3>
    <div class="panel panel-info">
      <div class="panel-heading">
        <ul class="positionInfo list-inline">
          <li class="company">Traction Corporation</li>
          <li class="dates">Feb 2015 - Current</li>
        </ul>
      </div>
      <div class="panel-body">
        Front-end and middleware web development work for <a href="https://www.tractionco.com/" target="_blank">Traction</a>, a San Francisco based interactive media advertising agency. The role includes a variety of projects for world renowned bands by developing e-commerce and customer service web applications.
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h3>Front-End Web Engineer</h3>
    <div class="panel panel-info">
      <div class="panel-heading">
        <ul class="positionInfo list-inline">
          <li class="company">John McNeil Studio</li>
          <li class="dates">Nov 2013 - Jan 2015</li>
        </ul>
      </div>
      <div class="panel-body">
        <a href="http://www.johnmcneilstudio.com/" target="_blank">John McNeil Studio</a> is a creative studio dedicated to making beautiful design, films, photos and interactive. The role involves a variety of projects for clients including Juniper Networks and CA Inc. Roles include implementing interactive front-ends for web and mobile applications plus designing and building back-end solutions.
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-6">
    <h3>Web Design &amp; Programming</h3>
    <div class="panel panel-info">
      <div class="panel-heading">
        <ul class="positionInfo list-inline">
          <li class="company">MegaCynics &amp; Dracogen Investments</li>
          <li class="dates">Feb 2013 - Feb 2014</li>
        </ul>
      </div>
      <div class="panel-body">
        Front-end web development using PHP, CSS, LESS, JavaScript, and related technology for Internet comic strip <a href="http://megacynics.com" target="_blank">MegaCynics</a>. Seg designs the layout in consultation with IP owners and develops social media tools for promotional purposes.
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h3>Lead Web Developer</h3>
    <div class="panel panel-info">
      <div class="panel-heading">
        <ul class="positionInfo list-inline">
          <li class="company">Emerson College</li>
          <li class="dates">Apr 2005 - Mar 2007</li>
        </ul>
      </div>
      <div class="panel-body">
        <p>The department of Enrollment and Student Affairs needed to improve processes and systems across different departments. A number of processes for housing, performing arts, admissions, and other departments needed tools to increase productivity and customer experience.</p>
        <p>Seg and his team developed web based tools to aid staff and students in various aspects of college life. The college improved not only efficiencies and worker productivity, but reduced economic and other variables in the admission process. Seg initiated processes that lead to fairer practices and quality experiences in the admissions process and other aspects of student life.</p>
      </div>
    </div>
  </div>

</div>


<h2>Events, Performing Arts, &amp; Immersive Design</h2>

<div class="row">

  <div class="col-md-6">
    <h3>Tech Team Lead &amp; Experience Designer</h3>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <ul class="positionInfo list-inline">
          <li class="company">Rathskeller Club</li>
          <li class="dates">Jan 2016 - Current</li>
        </ul>
      </div>
      <div class="panel-body">
        <p><a href="https://rathskeller.club" target="_blank">The Rathskeller Club</a> is the home for experience design in San Francisco. Hosting events, salons, and housing a research library for experience design.</p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h3>House Manager</h3>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <ul class="positionInfo list-inline">
          <li class="company">The Vespertine Circus</li>
          <li class="dates">Nov 2015 - Current</li>
        </ul>
      </div>
      <div class="panel-body">
        <p><a href="http://vespertinecircus.com/" target="_blank">The Vespertine Circus</a> performs a number of experimental, immersive, and narrative based circus shows for the San Francisco Bay area and beyond. Seg provides house management for ticketing, audience control, and immersive situational design for 4-8 shows a year.</p>
      </div>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-md-6">
    <h3>Co-Founder &amp; Event Producer</h3>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <ul class="positionInfo list-inline">
          <li class="company">Ümloud!</li>
          <li class="dates">Nov 2009 - Aug 2013</li>
        </ul>
      </div>
      <div class="panel-body">
        <p>Ümloud! is a non-profit organization which holds an annual charity concert to support Child’s Play and over 70 children’s hospitals around the world. Individuals donate to perform a live concert using the game Rock Band on DNA Lounge’s concert stage; an experience you can’t get in your living room!</p>
        <p>As co-founder and lead event producer, Seg has helped raise over $80,000 for children’s hospitals around the world during four annual concert events.</p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h3>Demonstrations &amp; Sales Associate</h3>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <ul class="positionInfo list-inline">
          <li class="company">Go To Games / Roll To Market</li>
          <li class="dates">Aug 2013 - Sept 2014</li>
        </ul>
      </div>
      <div class="panel-body">
        <p>Seg provides general booth presence assistance for the sales and marketing consulting firm "Roll To Market." Representing a number of board and card game publishers, the collective booth provides live demonstrations of games to consumers.</p>
      </div>
    </div>
  </div>

</div>

<h2>Video Game Development</h2>

<div class="row">

  <div class="col-md-6">
    <h3>Executive Producer</h3>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <ul class="positionInfo list-inline">
          <li class="company">Deirdra Kiai Productions</li>
          <li class="dates">Jan 2014 - Current</li>
        </ul>
      </div>
      <div class="panel-body">
        <p>In the advent of four <a href="http://igf.com/2014" target="_blank">Independent Game Festival</a> nominations for <a href="http://www.dominiquepamplemousse.com/" target="_blank">"Dominique Pamplemousse"</a>, Deirdra "Squinky" Kiai required production assistance.</p>
        <p>Duties include release management for <a href="https://store.steampowered.com/app/270310" target="_blank">Steam</a> and <a href="https://www.humblebundle.com/store/dominiquepamplemousse" target="_blank">Humble Bundle</a>, including art production, game engineering, and marketing assets. In addition, developing a public relations plan for <abbr title="Game Developers Conference">GDC</abbr> and general release of the title.</p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h3>Content Programmer</h3>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <ul class="positionInfo list-inline">
          <li class="company">Telltale Games</li>
          <li class="dates">Feb 2010 - Dec 2011</li>
        </ul>
      </div>
      <div class="panel-body">
        <p>With a background in world building, interface wiring, dialog writing &amp; logic, cinematography, narrative game play, and interactive fiction, Seg produced award winning narrative experiences for console, desktop, and mobile platforms. Development was using the Telltale Games Tool with Lua and a proprietary dialog system.</p>
        <p>Duties also included localization, platform ports, achievement design and writing, statistical analysis, Steamworks integration, TCR/Lot Check/TRC support, and other content development.</p>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-6">
    <h3>Special Projects Producer</h3>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <ul class="positionInfo list-inline">
          <li class="company">Telltale Games</li>
          <li class="dates">Jan 2012 - Jul 2012</li>
        </ul>
      </div>
      <div class="panel-body">
        <p>Seg co-developed the analytics system for The Walking Dead. The system gathered telemetry data of gameplay and audience profiles for public display of choice information and internal analysis.</p>
        <p>In addition, Seg worked as assistant producer for Microsoft Xbox 360 submissions though Business Operations Offer Management (BOOM) and other contacts.</p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h3>Puzzle Design &amp; Implementation</h3>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <ul class="positionInfo list-inline">
          <li class="company">Telltale Games</li>
          <li class="dates">Feb 2010 - Dec 2011</li>
        </ul>
      </div>
      <div class="panel-body">
        <p>Seg's puzzle designs for the Puzzle Agent series (including 'The Maw of Madness') blended mental challenge and narrative discovery. Design &amp; production processes included implementation of prototypes using LUA and proprietary tools along with working with artists on specifications and art deliverables.</p>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-6">
    <h3>Build &amp; Distribution Engineer</h3>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <ul class="positionInfo list-inline">
          <li class="company">Telltale Games</li>
          <li class="dates">Apr 2007 - Feb 2010</li>
        </ul>
      </div>
      <div class="panel-body">
        <p>Managed and produced builds for monthly episodic releases on digital and disc based platforms for simultaneous release. Seg created specifications and implementation for all builds internally to QA and for public facing features and experiences.</p>
        <p>Work included developing installers, build management systems, release art specifications and implementation, Steamworks integration, and submissions for consoles and desktop platforms.</p>
      </div>
    </div>
  </div>

</div>

<h2>Comprehensive Listings</h2>

<div class="row positions-items-list">
  <div class="col-md-6 col-sm-6 positions-item">
    <a class="btn btn-success btn-block" href="{{site.baseurl}}/projects">Comprehensive List of Projects</a>
  </div>
  <div class="col-md-6 col-sm-6 positions-item">
    <a class="btn btn-info btn-block" href="{{site.baseurl}}/speaking">Speaking Engagements</a>
  </div>
</div>
