    <div id="share-footer" class="row">
        <div class="share-item col-sm-3">
            <a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true" data-count="none" data-text="It's dangerous to develop alone. Take @TheSeg!" data-hashtags="GameJobs" data-related="theseg:John 'Seg' Seggerson" data-size="large">Tweet</a>
        </div>
        <div class="share-item col-sm-3">
            <div class="fb-like" data-send="true" data-width="200" data-show-faces="false" data-action="recommend"></div>
        </div>
        <div class="share-item col-sm-3">
            <div class="g-plus" data-action="share" data-annotation="none" data-height="24"></div>
        </div>
        <div class="share-item col-sm-3">
            <script type="IN/Share"></script>
        </div>
    </div>
