  <ul id="share-footer" class="inline">
    <li>
      <a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true" data-count="none" data-text="It's dangerous to develop alone. Take @TheSeg!" data-hashtags="GameJobs" data-related="theseg:John 'Seg' Seggerson" data-size="large">Tweet</a>
    </li>
    <li>
      <div class="g-plus" data-action="share" data-annotation="none" data-height="24"></div>
    </li>
    <li>
      <script type="IN/Share"></script>
    </li>
    <li>
      <div class="fb-like" data-send="true" data-width="200" data-show-faces="false" data-action="recommend"></div>
    </li>
  </ul>