  <div class="row">
    <div class="col-md-6">
      <ul>
        <li>Programming Languages &amp; Technology including:
          <ul class="list_col">
            <li>HTML5</li>
            <li>JavaScript</li>
            <li>CSS</li>
            <li>Lua</li>
            <li>PHP</li>
            <li>ColdFusion</li>
            <li>Ruby (Ruby on Rails)</li>
            <li>Dialog Systems</li>
            <li>Python</li>
            <li>Unity</li>
            <li>ActionScript</li>
          </ul>
        </li>
        <li>Development on the following platforms:
          <ul class="list_col">
            <li>Desktop:
              <ul>
                <li>Windows</li>
                <li>Mac OS X</li>
                <li>Steam <small>(Steamworks)</small></li>
              </ul>
            </li>
            <li>Mobile:
              <ul>
                <li>iOS</li>
                <li>Android</li>
              </ul>
            </li>
            <li>Xbox 360
              <ul>
                <li><abbr title="Xbox Live Arcade">XBLA</abbr></li>
                <li>Retail Disc</li>
              </ul>
            </li>
            <li>Sony PlayStation 3
              <ul>
                <li><abbr title="PlayStation Network">PSN</abbr></li>
                <li>Retail Disc</li>
              </ul>
            </li>
            <li>Nintendo Wii
              <ul>
                <li>WiiWare</li>
                <li>Retail Disc</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li>Creating, designing, writing, and managing engaging narrative experiences in dramatic and comedic genres.</li>
        <li>Managing and directing creative and technical members of a production team.</li>
        <li>Asset production pipeline management and process definition.</li>
        <li><abbr title="Application Programming Interface">API</abbr> development. <small><a href="http://steam.segonmedia.com/" target="_blank">Public example.</a></small></li>
        <li>Localization production and implementation.</li>
        <li>Web technology planning and development.</li>
        <li>Integrating Internet and social media technologies to game design and development.</li>
        <li>Event planning and management.</li>
      </ul>
    </div>
  </div>

