  <div class="row">
    <div class="col-md-6">
      <ul class="list_col">
        <li>JavaScript
          <ul>
            <li><abbr title="Asynchronous JavaScript and XML">Ajax</abbr></li>
            <li>jQuery</li>
            <li>Backbone</li>
            <li>Handlebars</li>
          </ul>
        </li>
        <li>CSS
          <ul>
            <li><abbr title="Syntactically Awesome Style Sheets">Sass</abbr></li>
            <li>Less</li>
          </ul>
        </li>
        <li>Languages
          <ul>
            <li>PHP</li>
            <li>Node.js</li>
            <li>Java</li>
            <li>Ruby <small>(Ruby on Rails)</small></li>
            <li>Python</li>
            <li>Lua</li>
          </ul>
        </li>
        <li>General Technologies
          <ul>
            <li>HTML5</li>
            <li>Gulp &amp; Grunt</li>
            <li>Continuous Intergration</li>
            <li>Docker, Vagrant</li>
          </ul>
        </li>
        <li>Databases
          <ul>
            <li>PostgreSQL</li>
            <li>MySQL</li>
            <li>MS SQL</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li>Creating, designing, writing, and managing engaging narrative experiences in dramatic and comedic genres.</li>
        <li>Managing and directing creative and technical members of a production team.</li>
        <li>Asset production pipeline management and process definition.</li>
        <li>Localization production and implementation.</li>
        <li>Web technology planning and development.</li>
        <li>Integrating Internet and social media technologies to game design and development.</li>
        <li>Event planning and management.</li>
        <li><abbr title="Application Programming Interface">API</abbr> development. <small><a href="http://steam.segonmedia.com/" target="_blank">Public example.</a></small></li>
      </ul>
    </div>
  </div>
