  <div class="row">
    <div class="col-md-6">
      <ul class="list_col">
        <li>JavaScript
          <ul>
            <li>Node</li>
            <li>React</li>
            <li>Angular</li>
            <li>jQuery</li>
          </ul>
        </li>
        <li>CSS
          <ul>
            <li><abbr title="Syntactically Awesome Style Sheets">Sass</abbr></li>
            <li>Less</li>
            <li>Bootstrap</li>
          </ul>
        </li>
        <li>Programming Languages
          <ul>
            <li>PHP</li>
            <li>Python</li>
            <li>Java (Tomcat)</li>
            <li>Lua</li>
          </ul>
        </li>
        <li>General Technologies
          <ul>
            <li>HTML5</li>
            <li><abbr title="Amazon Web Services">AWS</abbr></li>
            <li>Gulp &amp; Grunt</li>
            <li>Continuous Intergration</li>
            <li>Docker</li>
          </ul>
        </li>
        <li>Databases
          <ul>
            <li>PostgreSQL</li>
            <li>MySQL</li>
            <li>MS SQL</li>
            <li>Amazon Aurora</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li>Web technology planning and development.</li>
        <li>Managing and directing creative and technical members of a production team.</li>
        <li>Asset production pipeline management and process definition.</li>
        <li><abbr title="Application Programming Interface">API</abbr> development. <small><a href="https://steam.segonmedia.com/" target="_blank" rel="noopener">Public example.</a></small></li>
        <li>Localization implementation.</li>
        <li>Integrating Internet and social media technologies to game design and development.</li>
        <li>Creating, designing, writing, and managing engaging narrative experiences in dramatic and comedic genres.</li>
        <li>Event planning and management.</li>
      </ul>
    </div>
  </div>
