  <div class="row">
    <div class="col-md-12">
      <h2>Workshop: The Official Website of Your Game</h2>
      <h3><a href="http://dev.paxsite.com/schedule/panel/workshop-the-official-website-of-your-game">PAX Dev</a> <small>August 2015, Seattle, WA</small></h3>
    </div>
    <div class="col-md-9 col-xs-12">
      <p>Your game’s website is the center of its representation on the Internet. Let’s make it work for you! Whether you’re commissioning the work or doing it on your own, we’ll review what your website needs to successfully showcase your digital or physical game. We’ll talk about what your website needs for social media to work, how to make your website work across all screens, important security tips, and making sure search engines know your game exists. Let’s make this work!</p>
    </div>
    <div class="col-md-3 hidden-xs hidden-sm">
      <a href="http://dev.paxsite.com/"><img src="{{site.baseurl}}img/paxdevlogo.png" alt="PAX Dev" class="" /></a>
    </div>
  </div>
  <h2>Previous Speaking Engagements</h2>
  <div class="row">
    <div class="col-md-12">
      <h3>Shipping the Empty Box: Releasing [string:titleOfGame] on [array:platforms]</h3>
      <h4><a href="http://dev.paxsite.com/schedule/panel/shipping-the-empty-box-releasing-stringtitleofgame-on-arrayplatforms">PAX Dev</a> <small>August 2014, Seattle, WA</small></h4>
    </div>
    <div class="col-md-9 col-xs-12">
      <p>Working on [string:titleOfGame], you need to release it on [array:platforms-0] and perhaps on [array:platforms-1] in the future. You have [int:NULL] time till release. Build engineer and programmer John “Seg” Seggerson (Telltale Games, John McNeil Studio, Dominique Pamplemousse) will help smooth the multi-platform release by outlining build engineering tips for platforms on desktop, mobile, console, and beyond. Increase artist, writer, and programmer efficiency with a set of core specifications and planning applied to existing platforms and future platforms. Skills and knowledge that will reduce release headaches for your [int:sizeOfTeam] team!</p>
    </div>
  </div>
