  <div class="row">
    <div class="col-md-12">
      <h2>Shipping the Empty Box: Releasing [string:titleOfGame] on [array:platforms]</h2>
      <h3><a href="http://dev.paxsite.com/schedule/panel/shipping-the-empty-box-releasing-stringtitleofgame-on-arrayplatforms">PAX Dev</a> <small>August 2014, Seattle, WA</small></h3>
    </div>
    <div class="col-md-9 col-xs-12">
      <p>Working on [string:titleOfGame], you need to release it on [array:platforms-0] and perhaps on [array:platforms-1] in the future. You have [int:NULL] time till release. Build engineer and programmer John “Seg” Seggerson (Telltale Games, John McNeil Studio, Dominique Pamplemousse) will help smooth the multi-platform release by outlining build engineering tips for platforms on desktop, mobile, console, and beyond. Increase artist, writer, and programmer efficiency with a set of core specifications and planning applied to existing platforms and future platforms. Skills and knowledge that will reduce release headaches for your [int:sizeOfTeam] team!</p>
    </div>
    <div class="col-md-3 hidden-xs hidden-sm">
      <a href="http://dev.paxsite.com/"><img src="{{site.baseurl}}img/paxdevlogo.png" alt="PAX Dev" class="" /></a>
  </div>