<div class="table-responsive">
  <table id="releasedTitlesTable" class="table table-bordered table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>Franchise / Season</th>
        <th>Episodes</th>
        <th>Release Dates</th>
        <th>Roles</th>
        <th>Platforms</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="5">
          <ul class="unstyled">
            <li><i class="text-info icon-info-sign"></i> Includes localizations and/or ports developed by Seg after initial release.</li>
            <li>16 Total Seasons <small>(11 Franchises)</small></li>
            <li>64 Total Episodes <small>(271+ total releases by episode &amp; platform)</small></li>
          </ul>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>
          <img class="title-image" src="{{site.baseurl}}img/games/wd.jpg" width="184" height="69" alt="The Walking Dead" title="The Walking Dead">
        </td>
        <td class="cell-center">5</td>
        <td>May - Nov 2012</td>
        <td>
          <ul class="unstyled">
            <li>Special Projects Producer</li>
            <li>Analytics Systems Programming</li>
            <li>Xbox 360 Release Specialist</li>
          </ul>
        </td>
        <td>
          <ul class="list-inline">
            <li><div class="platform-win"></div></li>
            <li><div class="platform-mac"></div></li>
            <li><div class="platform-steam"></div></li>
            <li><div class="platform-xbox360"></div></li>
            <li><div class="platform-ps3"></div></li>
            <li><div class="platform-wii platform-not"></div></li>
            <li><div class="platform-ios"></div></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <img class="title-image" src="{{site.baseurl}}img/games/jp.jpg" width="184" height="69" alt="Jurassic Park: The Game" title="Jurassic Park: The Game">
        </td>
        <td class="cell-center">4</td>
        <td>Aug 2011</td>
        <td>
          <ul class="unstyled">
            <li>Content Programming</li>
            <li>Steamworks Integration</li>
            <li>Steam Community Stats Programming</li>
            <li>Xbox 360 Release Specialist</li>
          </ul>
        </td>
        <td>
          <ul class="list-inline">
            <li><div class="platform-win"></div></li>
            <li><div class="platform-mac"></div></li>
            <li><div class="platform-steam"></div></li>
            <li><div class="platform-xbox360"></div></li>
            <li><div class="platform-ps3"></div></li>
            <li><div class="platform-wii platform-not"></div></li>
            <li><div class="platform-ios"></div></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <img class="title-image" src="{{site.baseurl}}img/games/pa_2.jpg" width="184" height="69" alt="Nelson Tethers: Puzzle Agent 2" title="Nelson Tethers: Puzzle Agent 2">
        </td>
        <td class="cell-center">1</td>
        <td>June 2011</td>
        <td>
          <ul class="unstyled">
            <li>Puzzle Designer</li>
            <li>Content Programming</li>
            <li>Steamworks Integration</li>
            <li>Steam Community Stats Programming</li>
            <li>Writer</li>
          </ul>
        </td>
        <td>
          <ul class="list-inline">
            <li><div class="platform-win"></div></li>
            <li><div class="platform-mac"></div></li>
            <li><div class="platform-steam"></div></li>
            <li><div class="platform-xbox360 platform-not"></div></li>
            <li><div class="platform-ps3"></div></li>
            <li><div class="platform-wii platform-not"></div></li>
            <li><div class="platform-ios"></div></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <img class="title-image" src="{{site.baseurl}}img/games/bttf.jpg" width="184" height="69" alt="Back To The Future: The Game" title="Back To The Future: The Game">
        </td>
        <td class="cell-center">5</td>
        <td>Dec 2010 - Jul 2011</td>
        <td>
          <ul class="unstyled">
            <li>Content Programming</li>
            <li>Steamworks Integration</li>
            <li>PlayStation 3 Release Specialist</li>
          </ul>
        </td>
        <td>
          <ul class="list-inline">
            <li><div class="platform-win"></div></li>
            <li><div class="platform-mac"></div></li>
            <li><div class="platform-steam"></div></li>
            <li><div class="platform-xbox360 platform-not"></div></li>
            <li><div class="platform-ps3"></div></li>
            <li><div class="platform-wii"></div></li>
            <li><div class="platform-ios"></div></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <img class="title-image" src="{{site.baseurl}}img/games/pokernight.jpg" width="184" height="69" alt="Poker Night at the Inventory" title="Poker Night at the Inventory">
        </td>
        <td class="cell-center">1</td>
        <td>Oct 2010</td>
        <td>
          <ul class="unstyled">
            <li>Steamworks Integration</li>
          </ul>
        </td>
        <td>
          <ul class="list-inline">
            <li><div class="platform-win"></div></li>
            <li><div class="platform-mac"></div></li>
            <li><div class="platform-steam"></div></li>
            <li><div class="platform-xbox360 platform-not"></div></li>
            <li><div class="platform-ps3 platform-not"></div></li>
            <li><div class="platform-wii platform-not"></div></li>
            <li><div class="platform-ios platform-not"></div></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <img class="title-image" src="{{site.baseurl}}img/games/csi_fc.jpg" width="184" height="69" title="CSI: Crime Scene Investigation - Fatal Conspiracy" alt="CSI: Crime Scene Investigation - Fatal Conspiracy">
        </td>
        <td class="cell-center">5</td>
        <td>Sep 2010</td>
        <td>
          <ul class="unstyled">
            <li>Build &amp; Distribution Engineering</li>
            <li>Multi-platform DVD mastering</li>
            <li>Wii Menu Animation</li>
          </ul>
        </td>
        <td>
          <ul class="list-inline">
            <li><div class="platform-win"></div></li>
            <li><div class="platform-mac platform-not"></div></li>
            <li><div class="platform-steam platform-not"></div></li>
            <li><div class="platform-xbox360"></div></li>
            <li><div class="platform-ps3"></div></li>
            <li><div class="platform-wii"></div></li>
            <li><div class="platform-ios platform-not"></div></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <img class="title-image" src="{{site.baseurl}}img/games/pa_1.jpg" width="184" height="69" alt="Nelson Tethers: Puzzle Agent" title="Nelson Tethers: Puzzle Agent">
        </td>
        <td class="cell-center">1</td>
        <td>Jun 2010</td>
        <td>
          <ul class="unstyled">
            <li>Puzzle Designer</li>
            <li>Build &amp; Distribution Engineering</li>
            <li>Content Programming</li>
            <li>Steamworks Integration</li>
          </ul>
        </td>
        <td>
          <ul class="list-inline">
            <li><div class="platform-win"></div></li>
            <li><div class="platform-mac"></div></li>
            <li><div class="platform-steam"></div></li>
            <li><div class="platform-xbox360 platform-not"></div></li>
            <li><div class="platform-ps3"></div></li>
            <li><div class="platform-wii platform-unreleased"></div></li>
            <li><div class="platform-ios"></div></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <img class="title-image" src="{{site.baseurl}}img/games/sm_s3.jpg" width="184" height="69" alt="Sam &amp; Max: The Devil's Playhouse" title="Sam &amp; Max: The Devil's Playhouse">
        </td>
        <td class="cell-center">5</td>
        <td>Apr 2010 - Aug 2010</td>
        <td>
          <ul class="unstyled">
            <li>Content Programming</li>
            <li>Build &amp; Distribution Engineering</li>
            <li>Multi-platform DVD mastering</li>
            <li>PlayStation 3 Release Specialist</li>
          </ul>
        </td>
        <td>
          <ul class="list-inline">
            <li><div class="platform-win"></div></li>
            <li><div class="platform-mac"></div></li>
            <li><div class="platform-steam"></div></li>
            <li><div class="platform-xbox360 platform-not"></div></li>
            <li><div class="platform-ps3"></div></li>
            <li><div class="platform-wii platform-not"></div></li>
            <li><div class="platform-ios"></div></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <img class="title-image" src="{{site.baseurl}}img/games/csi_di.jpg" width="184" height="69" title="CSI: Crime Scene Investigation - Deadly Intent" alt="CSI: Crime Scene Investigation - Deadly Intent">
        </td>
        <td class="cell-center">5</td>
        <td>Oct 2009</td>
        <td>
          <ul class="unstyled">
            <li>Build &amp; Distribution Engineering</li>
            <li>Multi-platform DVD mastering</li>
            <li>Content Programming</li>
            <li>Wii Menu Animation</li>
          </ul>
        </td>
        <td>
          <ul class="list-inline">
            <li><div class="platform-win"></div></li>
            <li><div class="platform-mac platform-not"></div></li>
            <li><div class="platform-steam platform-not"></div></li>
            <li><div class="platform-xbox360"></div></li>
            <li><div class="platform-ps3 platform-not"></div></li>
            <li><div class="platform-wii"></div></li>
            <li><div class="platform-ios platform-not"></div></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <img class="title-image" src="{{site.baseurl}}img/games/tomi.jpg" width="184" height="69" alt="Tales of Monkey Island" title="Tales of Monkey Island">
        </td>
        <td class="cell-center">5</td>
        <td>Jul - Dec 2009 <i class="text-info icon-info-sign note-local"></i></td>
        <td>
          <ul class="unstyled">
            <li>Build &amp; Distribution Engineering</li>
            <li>Content Programming</li>
            <li>Multi-platform DVD mastering</li>
            <li>Wii Menu Animation</li>
          </ul>
        </td>
        <td>
          <ul class="list-inline">
            <li><div class="platform-win"></div></li>
            <li><div class="platform-mac"></div></li>
            <li><div class="platform-steam"></div></li>
            <li><div class="platform-xbox360 platform-not"></div></li>
            <li><div class="platform-ps3"></div></li>
            <li><div class="platform-wii"></div></li>
            <li><div class="platform-ios"></div></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <img class="title-image" src="{{site.baseurl}}img/games/wg.jpg" width="184" height="69" alt="Wallace &amp; Gromit's Grand Adventures" title="Wallace &amp; Gromit's Grand Adventures">
        </td>
        <td class="cell-center">4</td>
        <td>Mar - Jul 2009 <i class="text-info icon-info-sign note-local"></i></td>
        <td>
          <ul class="unstyled">
            <li>Build &amp; Distribution Engineering</li>
            <li>Multi-platform DVD mastering</li>
            <li>Content Programming</li>
            <li><abbr title="XBox Live Arcade">XBLA</abbr> Development</li>
            <li>Localizations</li>
          </ul>
        </td>
        <td>
          <ul class="list-inline">
            <li><div class="platform-win"></div></li>
            <li><div class="platform-mac platform-not"></div></li>
            <li><div class="platform-steam"></div></li>
            <li><div class="platform-xbox360"></div></li>
            <li><div class="platform-ps3 platform-not"></div></li>
            <li><div class="platform-wii platform-not"></div></li>
            <li><div class="platform-ios platform-not"></div></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <img class="title-image" src="{{site.baseurl}}img/games/sbcg4ap.jpg" width="184" height="69" alt="Strong Bad’s Cool Game for Attractive People" title="Strong Bad’s Cool Game for Attractive People">
        </td>
        <td class="cell-center">5</td>
        <td>Aug - Dec 2008</td>
        <td>
          <ul class="unstyled">
            <li>Build &amp; Distribution Engineering</li>
            <li>Content Programming</li>
            <li>Multi-platform DVD mastering</li>
            <li>WiiWare Development</li>
            <li>Wii Menu Animation</li>
          </ul>
        </td>
        <td>
          <ul class="list-inline">
            <li><div class="platform-win"></div></li>
            <li><div class="platform-mac"></div></li>
            <li><div class="platform-steam"></div></li>
            <li><div class="platform-xbox360 platform-not"></div></li>
            <li><div class="platform-ps3"></div></li>
            <li><div class="platform-wii"></div></li>
            <li><div class="platform-ios"></div></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <img class="title-image" src="{{site.baseurl}}img/games/sm_s2.jpg" width="184" height="69" alt="Sam &amp; Max: Beyond Time &amp; Space" title="Sam &amp; Max: Beyond Time &amp; Space">
        </td>
        <td class="cell-center">5</td>
        <td>Nov 2007 to Oct 2011 <i class="text-info icon-info-sign note-local"></i></td>
        <td>
          <ul class="unstyled">
            <li>Content Programming</li>
            <li>Build &amp; Distribution Engineering</li>
            <li>Multi-platform DVD mastering</li>
            <li>Port Development
              <ul>
                <li>Xbox 360</li>
                <li>Wii</li>
                <li>PlayStation 3</li>
              </ul>
            </li>
            <li>Localizations
              <ul>
                <li>Programming</li>
                <li>Animation</li>
              </ul>
            </li>
          </ul>
        </td>
        <td>
          <ul class="list-inline">
            <li><div class="platform-win"></div></li>
            <li><div class="platform-mac"></div></li>
            <li><div class="platform-steam"></div></li>
            <li><div class="platform-xbox360"></div></li>
            <li><div class="platform-ps3"></div></li>
            <li><div class="platform-wii"></div></li>
            <li><div class="platform-ios"></div></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <img class="title-image" src="{{site.baseurl}}img/games/bone.jpg" width="184" height="69" alt="Bone" title="Bone">
        </td>
        <td class="cell-center">2</td>
        <td>June 2007 - Jan 2009 <i class="text-info icon-info-sign note-local"></i></td>
        <td>
          <ul class="unstyled">
            <li>Localization Implementation</li>
          </ul>
        </td>
        <td>
          <ul class="list-inline">
            <li><div class="platform-win"></div></li>
            <li><div class="platform-mac platform-not"></div></li>
            <li><div class="platform-steam platform-not"></div></li>
            <li><div class="platform-xbox360 platform-not"></div></li>
            <li><div class="platform-ps3 platform-not"></div></li>
            <li><div class="platform-wii platform-not"></div></li>
            <li><div class="platform-ios platform-not"></div></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <img class="title-image" src="{{site.baseurl}}img/games/csi_hardevidence.jpg" width="184" height="69" title="CSI: Crime Scene Investigation - Hard Evidence" alt="CSI: Crime Scene Investigation - Hard Evidence">
        </td>
        <td class="cell-center">5</td>
        <td>Sep 2007 &amp; Jan 2008 <i class="text-info icon-info-sign note-local"></i></td>
        <td>
          <ul class="unstyled">
            <li>Build &amp; Distribution Engineering</li>
            <li>Multi-platform DVD mastering</li>
            <li>Content Programming</li>
            <li>Xbox 360 Development</li>
            <li>Wii Development</li>
            <li>Wii Menu Animation</li>
          </ul>
        </td>
        <td>
          <ul class="list-inline">
            <li><div class="platform-win"></div></li>
            <li><div class="platform-mac platform-not"></div></li>
            <li><div class="platform-steam platform-not"></div></li>
            <li><div class="platform-xbox360"></div></li>
            <li><div class="platform-ps3 platform-not"></div></li>
            <li><div class="platform-wii"></div></li>
            <li><div class="platform-ios platform-not"></div></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <img class="title-image" src="{{site.baseurl}}img/games/sm_s1.jpg" width="184" height="69" alt="Sam &amp; Max: Save the World" title="Sam &amp; Max: Save the World">
        </td>
        <td class="cell-center">6</td>
        <td>April 2007 to Sep 2011 <i class="text-info icon-info-sign note-local"></i></td>
        <td>
          <ul class="unstyled">
            <li>Build &amp; Distribution Engineering</li>
            <li>Multi-platform DVD mastering</li>
            <li>Content Programming</li>
            <li>Port Development
              <ul>
                <li>Xbox 360</li>
                <li>Wii</li>
              </ul>
            </li>
            <li>Localization
              <ul>
                <li>Programming</li>
                <li>Animation</li>
              </ul>
            </li>
          </ul>
        </td>
        <td>
          <ul class="list-inline">
            <li><div class="platform-win"></div></li>
            <li><div class="platform-mac"></div></li>
            <li><div class="platform-steam"></div></li>
            <li><div class="platform-xbox360"></div></li>
            <li><div class="platform-ps3"></div></li>
            <li><div class="platform-wii"></div></li>
            <li><div class="platform-ios platform-not"></div></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
